@model Permisos_khensys.Models.Permisos

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea borrar este permiso?</h3>
<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpleado)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoEmpleado)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPermisos.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
